@import "../../theme.css";

.toggleDarkButton{
  padding: 5em;
  cursor: pointer;
  outline: none;
  border: none;
  transition: 0.2s; /*test this out*/
}

.toggleDarkButton:hover{
  box-shadow: 0 0 10px 1000px rgba(100, 100, 100, 0.5);
  outline: 1em rgba(100, 100, 100, 0.5) ;
}