@import "../../theme.css";

.App-logo {
  height: 20vmin;
  margin-top: clamp(10px, 15vmin, 20px);
  pointer-events: none;
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: var(--header-color);
}

.home-text{
  max-width: 960px;
  color: var(--text-color)
}

.card-container {
  display: flex;
  max-width: 100%;
  min-width: 50%;
  justify-content: space-between;
  align-items: center;
}