@import "../theme.css";

.card {
  width: 30%;
  height: 10rem;
  margin-top: 2rem;
  background: var(--bg-color);
  border-radius: 0.7rem;
  border: solid;
  border-color: var(--highlight-color);
  transition: 0.5s;
}

.head {
  color: var(--header-color);
}
.content{
  margin-top: 1rem;
  font-size: 0.8em;
  color: var(--text-color);
}

.card:hover {
  box-shadow: 0 0 0 .2em var(--accent-color);
  border-color: var(--accent-color);
  z-index: 1;
  transition: 0.2s;
  transform: scale(1.1);
}
