@import "../theme.css";

.card {
  width: 30%;
  height: 10rem;
  margin-top: 2rem;
  background: var(--bg-color);
  border-radius: 2rem;
  box-shadow: inset 0 0 0 0.2em var(--text-color),
              0 0 0 0.1em var(--accent-color);
}
