@import "../theme.css";

.info-header {
  background-color: var(--bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--header-color);
}

.about-text{
    max-width: 960px;
    color: var(--text-color)
}
