@import "../theme.css";

.bar {
  transition: 0.2s;
  background: var(--nav-color);
  color: var(--text-color);

  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  position: absolute;
  top: 0;
}

.bar>.link-box{
  width: 10vw;
  margin-left: 1vw;
  margin-right: 1vw;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.bar>.link-box:hover {
  transition: 0.3s;
  color: var(--bg-color) !important;
  background: var(--highlight-color) !important;
}

.link {
  color: inherit;
  min-width: 10vw;
  text-decoration: none;
}
