@import "../../theme.css";

.bar {
  transition: 0.2s;
  background: var(--nav-color);
  color: var(--text-color);

  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  position: relative;
  top: 0;
  z-index: 1;
}

.link-text{
  padding: 0.65vh  2.08vw 1.3vh 2.08vw;

}

.bar>.link-box{
  margin-left: 1vw;
  margin-right: 1vw;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 0.5s;
}

.bar>.link-box:hover {
  transition: 0.3s;
  color: var(--bg-color) !important;
  background: var(--highlight-color) !important;
  transform: scale(1.1);
}

.link {
  color: inherit;
  text-decoration: none;
}

.overarching-bar{
  justify-content: space-evenly;
}
