@import "../../theme.css";

.App-logo {
  height: 20vmin;
  margin-top: clamp(10px, 15vmin, 200px);
  pointer-events: none;
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: var(--header-color);
}

.transferlistTitle{
  width: 70vw;
  transition: 1s;
}

.transferlistTitle:hover{
  background-color: rgba(0, 0, 0, .5);
}

.arrow {
  border: solid var(--accent-color);
  border-width: 0 0.2em 0.2em 0;
  display: inline-block;
  padding: 0.2em;
  transition: 0.5s;
  transform: rotate(-45deg);
  justify-content: end;
}

.transferlistTitle.arrow:hover{
  transform: rotate(45deg);
}

.transferList{
  width: 60vw;
  height: 35vh;
  overflow: scroll;
  overflow-x: hidden;
  padding: 0.5em;
  color: var(--text-color);
  border: solid var(--highlight-color);
  border-radius: 0.5em;
  text-align: left;
  font-size: 0.8rem;
}

.class-description {
  width: 60vw;
  height: 35%;
  overflow: scroll;
  overflow-x: hidden;
  padding: 0.5em;
  border-radius: 0.5em;
  color: var(--text-color);
  border: solid var(--highlight-color);
  text-align: left;
  text-indent: 2em;
  font-size: 0.8em;
}
