:root{
    --popup-speed: 500ms;
}

.settings-icon{
  border: none;
  padding: none;
  margin: 2px;
  float: inline-end;
  margin-left: auto;
  margin-right: 1em;/*shoves everything else leftward*/
  display: flex;
  align-items: flex;
  justify-content: center;
  transition: filter 300ms;
  height: 80%;
  width: auto;
}

.settings-icon:hover{
    filter: brightness(1.2);
    animation: rotation 2s infinite linear;
    cursor: pointer;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.cover {
  position: absolute;
  width: 100vw;
  height: 100vh;
  inset: 0;
  z-index: 1;
  background: #000D;
  justify-content: center;
  align-items: center;
}

@keyframes grow{
    from{
        transform: scale(0.2);
    }
    to{
        transform: scale(1);
    }
}

.detailed {
  position: relative;
  width: 80%;
  height: 80%;
  background-color: var(--bg-color);
  border: solid var(--text-color);
  border-radius: 1em;
  z-index: 2;
  overflow: auto;
  padding: 0.5em;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

.wrapper {
  position: absolute;
  justify-content: center;
  align-items: center;
  inset: 0;
}


.exit {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  width: 1em;
  aspect-ratio: 1;
  transition: 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.exit::before, .exit::after{
 background-color: var(--text-color);
 content: "";
 display: inline-block;
 width:  1em;
 height: 0.3em;
 border-radius: 0.1em;
 position: absolute;
}
  
.exit::before{
  transform: rotate(-45deg);
}
.exit::after{
  transform: rotate(45deg);
}

.exit:hover {
  transform: scale(1.2);
  --icon-color: var(--highlight-color);
}
